* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "comfortaaSemibold";
  src: url("../assets/comfortaa-semibold.ttf") format("truetype");
}
button,
input {
  font-family: comfortaaSemibold, sans-serif;
  border: none;
  background-color: transparent;
  outline: none;
}
body {
  height: 100dvh;
  font-size: 12px;
  background-image: url("../assets/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: comfortaaSemibold, sans-serif;
}
@mixin LiquidGlass {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: #fff;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 40px;
  padding: 5px;
  margin-inline: 5px;
  margin-top: 5px;
  transition: all 0.3s ease;
  @include LiquidGlass();
  h1 {
    font-size: 16px;
  }
}
.modal {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: none;
  gap: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  &--active {
    display: flex;
  }
  &__title {
    height: 40px;
    width: 60%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
  }
  &__area {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    text-align: center;
    @include LiquidGlass();
  }
  &__send {
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    @include LiquidGlass();
  }
}
.chat {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}
.messages-container {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  padding: 10px;
  flex: 1;
  gap: 10px;
}
.message {
  animation: fadeIn 0.3s;
  transition: all 0.3s ease;
  border-radius: 25px;
  max-width: 50%;
  flex-shrink: 0;
  font-size: 12px;
  @include LiquidGlass();
  padding: 10px;
  &.user {
    align-self: flex-end;
    text-align: right;
  }
  &.other {
    align-self: flex-start;
  }
  &.system {
    align-self: center;
    text-align: center;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 12px;
  }
  &-user {
    font-weight: bold;
    color: #ff0000a0;
  }
  &-time {
    color: #808080b3;
  }
  &-text {
    word-wrap: break-word;
    line-height: 1.4;
  }
}
.input-container {
  gap: 5px;
  margin-inline: 5px;
  margin-bottom: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  height: 40px;
  @include LiquidGlass();
  button {
    background-color: rgba(255, 255, 255, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 25px;
  }
  input {
    flex: 1;
    padding: 5px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    font-size: 16px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
