* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "comfortaaSemibold";
  src: url("../assets/comfortaa-semibold.ttf") format("truetype");
}
button,
input {
  font-family: comfortaaSemibold, sans-serif;
  border: none;
  background-color: transparent;
  outline: none;
}

body {
  height: 100dvh;
  font-size: 12px;
  background-image: url("../assets/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: comfortaaSemibold, sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  height: 40px;
  padding: 5px;
  margin-inline: 5px;
  margin-top: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: #fff;
}
header h1 {
  font-size: 16px;
}

.modal {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  gap: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
}
.modal--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal__title {
  height: 40px;
  width: 60%;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
}
.modal__area {
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: #fff;
}
.modal__send {
  width: 60%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: #fff;
}

.chat {
  height: 100dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.messages-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 10px;
}

.message {
  -webkit-animation: fadeIn 0.3s;
          animation: fadeIn 0.3s;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 25px;
  max-width: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: #fff;
  padding: 10px;
}
.message.user {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: right;
}
.message.other {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.message.system {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}
.message-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
  font-size: 12px;
}
.message-user {
  font-weight: bold;
  color: rgba(255, 0, 0, 0.6274509804);
}
.message-time {
  color: rgba(128, 128, 128, 0.7019607843);
}
.message-text {
  word-wrap: break-word;
  line-height: 1.4;
}

.input-container {
  gap: 5px;
  margin-inline: 5px;
  margin-bottom: 5px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: #fff;
}
.input-container button {
  background-color: rgba(255, 255, 255, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 25px;
}
.input-container input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  font-size: 16px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}